.profile {  
  /* position: absolute; */
  top: 0;
  z-index: -1;

  height: 400px;
  width: 100%;

  display:flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column; 

  background-color: #DCD6F7;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  
  margin-top: 120px; /*because height is fixed*/
}

/* h2 {
  margin: 0;
} */
