nav {
  height: 120px;
  width: 100vw;
  
  color: #FFFF;

  padding-left: 1.5em;
  padding-right: 1.5em;
    
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  width: 100%;

  background-color: #DCD6F7;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");

}

.tweeter {
  font-family: "Bungee";
}

.fas.fa-angle-double-down {
  color: red;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}