.new-tweet {
  margin: 600px auto 0;
  /* margin: 0 auto; */
  width: 90vw;




}

.tweet-tweet {
  border-bottom: 5px solid;
  border-bottom-color: #545149;
}

tweet-tweet::placeholder {
  border-bottom: 5px solid;
  border-bottom-color: #545149;
  font-weight: bold;
}


.counter-tweet-button {
  display:flex;
  justify-content: space-between;
}

.counter {
  font-family: "Bungee";
  color: #545149;
}

.send-tweet{
  font-family: "Bungee";
  background-color: #4056A1;
  color: #FFFF;
}