.new-tweet {
  margin-top: 600px;
  position: fixed;




}

.tweet-tweet {
  border-bottom: 5px solid;
  border-bottom-color: #545149;

}

.counter {
  display:flex;


}

.send-tweet{
  font-family: "Bungee";
  background-color: #4056A1;
  color: #FFFF;
}