main {
  margin:450px auto 0;

  width: 90%;

  background-color: #f4f1ec;

  position: fixed;
  
}

#tweet-text {
  width: 100%;

  background-color: #f4f1ec;
  
  border: none;
  border-bottom: 5px solid;
  border-bottom-color: #545149;

}

#tweet-text {
  outline: 0;
  border-width: 0 0 5px; 
  border-color: #545149;
  font-weight: bold;
}

.counter-tweet-button {
  display:flex;
  justify-content: space-between;
}

.counter {
  font-family: "Bungee";
  color: #545149;
}

.send-tweet{
  font-family: "Bungee";
  background-color: #4056A1;
  color: #FFFF;
  border-radius: 4px;
  border: none;
}

.error {
  color: red;
}